/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: black;
  font-size: 1em;
  line-height: 1.4;
  background-color: #BBDEFF;
}

body {
  margin: 0;
  max-width: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

h1 {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

#aboutMe {
  text-align: center;
  padding-bottom: 1em;
  font-family: 'Montserrat Alternates', sans-serif;
}

.socials {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  border-bottom: solid black 3px;
}

#linkedinLogo {
  width: 3.5em;
  margin-top: 1em;
}

#gitHubLogo {
  width: 3.5em;
  margin-top: 1em;
  margin-left: 1em;
}

#threadsLogo {
  width: 3.5em;
  margin-top: 1em;
  margin-left: 1em;
}

#headerImage {
  position: relative;
  width: 60%;
  height: auto;
  margin-left: 19.5%;
}

header {
  box-sizing: border-box;
  background-color: #252525;
  color: white;
  height: 100%;
}

#bioContainer {
  display: inline-block;
  text-align: center;
  border-bottom: solid 3px black;
  width: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #0E2AF5;
  color: white;
}

#bioParagraphOne {
  margin-bottom: 3%;
}

#bioParagraphTwo {
  margin-bottom: 3%;
}

#bioParagraphThree {
  margin-bottom: 3%;
}

#spcLink {
  color: yellow;
}

#spcLink:hover {
  color: green;
}

#spcLink:visited {
  color: red;
}

.myProjects {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  font-size: 1.05em;
  font-weight: bold;
  margin-top: 3em;
  margin-left: 35%;
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
  border: solid 2px black;
}

#myProjectsHeader {
  text-decoration: underline;
}

/*Uncomment when you want to add certifications*/
/* #myCertsHeader {
  text-decoration: underline;
}

.myCerts {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 25%;
  font-size: 1.05em;
  font-weight: bold;
  margin-top: -7.6em;
  margin-left: 75%;
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
  border: solid 2px black;
} */

footer {
  text-align: center;
  margin-top: 30%;
  font-size: 0.85em;
  font-family: 'Montserrat Alternates', sans-serif;
}


/* Preset CSS code */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media only screen and (max-width: 480px) {
  .myProjects {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*@media only screen and (min-width: 35em) {*/
/*  !* Style adjustments for viewports that meet the condition *!*/
/*}*/

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

